<div class="sidebar">
    <h4>Products</h4>
    <!-- <a class="active" (click)="getProdsByCategory()">All({{AllprodCount}})</a>
    <div *ngFor="let item of categs">
        <a  (click)="getProdsByCategory()">{{item}} Tools({{AllprodCount}})</a>

    </div> -->

    <a class="active" (click)="getAllProds()">All({{AllprodCount}})</a>
    <a (click)="getSimpleProds()">Simple Tools({{SimpleProdCount}})</a>
    <a (click)="getComplexProds()">Complex Tools({{ComplexProdCount}})</a>
</div>




<div class="homepage">
    <div class="row">
        <div class="col-lg-7">
            <h1>Products</h1>

        </div>
        <div class="col-lg-2" style="margin:10px 100px">
            <button class="btn btn-warning" style="width: 200px;">Sync</button>
        </div>
    </div>



    <div class="flex-container">
        <div  *ngFor="let item of prods" class="card" style="width: 18rem;">
            <div class="container">
                <a href="#" class="btn btn-primary">Sync</a>
                <img class="card-img-top" src={{item.imageUrl}} alt="Card image cap">
            </div>
            <div class="card-body" style="background-color: rgb(226, 225, 225);">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">${{item.price}}</p>  
            </div>
        </div>

    </div>
</div>






