/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";



.header{
    height: 80px;
    background-image: linear-gradient(to right,rgb(11,108,205), rgb(96,136,220));

}
.header img {
    float: left;
    width: 100px;
    height: 100px;
  }
  
  .header h1 {
    position: relative;
    top: 18px;
    left: 10px;
  }
