




<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                      <div class="tab-pane active" id="pic-1"><img src={{prod.imageUrl}} /></div>
                    
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{prod.name}}</h3>
                  
                    <h5 class="price">category: <span>{{prod.category}}</span></h5>
                    <h5 class="price">current price: <span>${{prod.price}}</span></h5>
                    
                    
                
                   
                    <div class="action">
                        <button class="btn btn-warning" type="button">Add to cart</button>
                    </div><br/>
                    <button class="btn btn-primary" [routerLink]="['/productlist']">Back to list</button>
                </div>
            </div>
        </div>
    </div>
</div>


